---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// サイドバーが無い場合は.pageを全幅に
#main.no-sidebar .page {
  width: 100% !important;
  padding-inline-end: 0 !important;
}
